.pl {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pl-texts {
  width: 65%;
}

.pl-title {
  font-size: 50px;
  font-weight: 600;
  margin-top: 80px;
}

.pl-desc {
  margin: 20px 0px;
}

.pl-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.p-name {
  font-size: 30px;
  font-weight: 300;
  padding: 20px;
  text-align: left;
}

.p-about {
  padding: 20px;
  margin: 20px 0px;
  text-align: center;
}

.btn {
  text-decoration: none;
  display: inline;
  width: 115px;
  height: 25px;
  background: #59b256;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  margin: 20px;
}


@media screen and (max-width: 480px) {
  .pl {
    padding: 10px;
  }

  .pl-texts {
    width: 100%;
  }

  .pl-desc {
    display: none;
  }

  .p-name {
    font-size: 20px;
    font-weight: 300;
    padding: 20px 20px;
    text-align: center;
  }

  .btn{
    display: inline-block;
  }

  hr {
    display: block;
  }
}